.recommended {
  position: relative;
  &__link {
    text-decoration: none;
    grid-column: 1 / -1;

    &:active {
      text-decoration: none;
      color: inherit;
    }

    &:visited {
      color: inherit;
    }

    @include  onDesktop {
      grid-column: span 4;
    }
  }
  &__products {
    @include pageGrid;
    row-gap: 40px;
    margin-bottom: 56px;
  }

  &__product {


    @include hover(transform, scale(110%));

  }

  &__search {
    display: flex;
    margin-bottom: 24px;
  }

  &__search-bar {
    //background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    width: 100%;
    font-size: 20px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-family: Manrope, sans-serif;
  }

  &__filters {
    border-radius: 0 !important;
    border-bottom-right-radius: 8px !important;
    border-top-right-radius: 8px !important;
    padding-inline: 24px;
  }
}
