.route-modal {
  display: flex;
  justify-content: space-between;
  gap: 10%;
  position: relative;

  &__image-container {
    overflow: hidden;
    border-radius: 20px;
    box-sizing: border-box;
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
  }

  &__description {
    font-family: Manrope, sans-serif;
    line-height: 140%;
    width: 50%;
  }

  &__button {
    position: absolute;
    width: 40%;
    bottom: 50px;
    right: 50px;
  }
}
